:root {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  height: 100vh;
}
.btn{
    height: 60px;
    width: 60px;
    background-color: rgb(229, 225, 0);
    border: 2px solid black;
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;

    padding: 0; 
    text-align: center; 
    line-height: 60px; 
    display: inline-block; 
    vertical-align: middle; 
  }
.btn:hover{
  color: rgb(229, 225, 0);
  background-color: black;
}